<?xml version='1.0' encoding='UTF-8'?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <dict>
    <key>public.kern1.A</key>
    <array>
      <string>A</string>
      <string>increment</string>
      <string>A_with_grave</string>
      <string>A_with_acute</string>
      <string>A_with_circumflex</string>
      <string>A_with_smalltilde</string>
      <string>A_with_diaeresis</string>
      <string>A_with_ring</string>
      <string>A_with_macron</string>
    </array>
    <key>public.kern1.C</key>
    <array>
      <string>C</string>
      <string>euro</string>
      <string>C_with_cedilla</string>
      <string>C_with_acute</string>
      <string>C_with_caron</string>
    </array>
    <key>public.kern1.E</key>
    <array>
      <string>E</string>
      <string>AE</string>
      <string>OE</string>
      <string>E_with_grave</string>
      <string>E_with_acute</string>
      <string>E_with_circumflex</string>
      <string>E_with_diaeresis</string>
      <string>E_with_macron</string>
      <string>E_with_dotabove</string>
    </array>
    <key>public.kern1.I</key>
    <array>
      <string>I</string>
      <string>I_with_grave</string>
      <string>I_with_acute</string>
      <string>I_with_circumflex</string>
      <string>I_with_diaeresis</string>
      <string>I_with_macron</string>
    </array>
    <key>public.kern1.N</key>
    <array>
      <string>N</string>
      <string>N_with_smalltilde</string>
      <string>N_with_acute</string>
    </array>
    <key>public.kern1.O</key>
    <array>
      <string>D</string>
      <string>G</string>
      <string>O</string>
      <string>ETH</string>
      <string>copyright</string>
      <string>registered</string>
      <string>O_with_grave</string>
      <string>O_with_acute</string>
      <string>O_with_circumflex</string>
      <string>O_with_smalltilde</string>
      <string>O_with_diaeresis</string>
      <string>O_with_stroke</string>
      <string>O_with_macron</string>
    </array>
    <key>public.kern1.PI</key>
    <array>
      <string>PI</string>
      <string>nary_product</string>
      <string>pilcrow</string>
    </array>
    <key>public.kern1.S</key>
    <array>
      <string>S</string>
      <string>dollar</string>
      <string>S_with_acute</string>
      <string>S_with_caron</string>
    </array>
    <key>public.kern1.SIGMA</key>
    <array>
      <string>SIGMA</string>
      <string>nary_sum</string>
    </array>
    <key>public.kern1.U</key>
    <array>
      <string>U</string>
      <string>U_with_grave</string>
      <string>U_with_acute</string>
      <string>U_with_circumflex</string>
      <string>U_with_diaeresis</string>
      <string>U_with_macron</string>
    </array>
    <key>public.kern1.W</key>
    <array>
      <string>W</string>
      <string>won</string>
    </array>
    <key>public.kern1.Y</key>
    <array>
      <string>Y</string>
      <string>Y_with_acute</string>
      <string>Y_with_diaeresis</string>
    </array>
    <key>public.kern1.Z</key>
    <array>
      <string>Z</string>
      <string>Z_with_dotabove</string>
      <string>Z_with_acute</string>
      <string>Z_with_caron</string>
    </array>
    <key>public.kern1.a</key>
    <array>
      <string>a</string>
      <string>g</string>
      <string>u</string>
      <string>q</string>
      <string>lower_i_dotless</string>
      <string>u_with_grave</string>
      <string>u_with_acute</string>
      <string>u_with_circumflex</string>
      <string>u_with_diaeresis</string>
      <string>u_with_macron</string>
      <string>a_with_grave</string>
      <string>a_with_acute</string>
      <string>a_with_circumflex</string>
      <string>a_with_smalltilde</string>
      <string>a_with_diaeresis</string>
      <string>a_with_ring</string>
      <string>a_with_macron</string>
    </array>
    <key>public.kern1.asterisk</key>
    <array>
      <string>asterisk</string>
      <string>asciicircum</string>
      <string>degree</string>
      <string>ordinalfeminine</string>
      <string>ordinalmasculine</string>
    </array>
    <key>public.kern1.bracketleft</key>
    <array>
      <string>bracketleft</string>
      <string>parenleft</string>
      <string>braceleft</string>
    </array>
    <key>public.kern1.bracketright</key>
    <array>
      <string>bracketright</string>
      <string>parenright</string>
      <string>braceright</string>
    </array>
    <key>public.kern1.colon</key>
    <array>
      <string>colon</string>
      <string>semicolon</string>
    </array>
    <key>public.kern1.diesis</key>
    <array>
      <string>diesis</string>
      <string>dagger</string>
    </array>
    <key>public.kern1.greater</key>
    <array>
      <string>greater</string>
      <string>greater_equal</string>
      <string>angleright</string>
      <string>angledblright</string>
      <string>arrowright</string>
    </array>
    <key>public.kern1.h</key>
    <array>
      <string>h</string>
      <string>m</string>
      <string>n</string>
      <string>n_with_smalltilde</string>
      <string>n_with_acute</string>
    </array>
    <key>public.kern1.hyphen</key>
    <array>
      <string>hyphen</string>
      <string>emdash</string>
      <string>endash</string>
      <string>plus</string>
      <string>minus</string>
      <string>divide</string>
      <string>tilde</string>
      <string>equal</string>
      <string>almost_equal</string>
      <string>not_equal</string>
      <string>logicalnot</string>
      <string>arrowleft</string>
      <string>interpunct</string>
      <string>bullet</string>
      <string>plusminus</string>
    </array>
    <key>public.kern1.i</key>
    <array>
      <string>i</string>
      <string>j</string>
      <string>i_with_grave</string>
      <string>i_with_acute</string>
      <string>i_with_circumflex</string>
      <string>i_with_diaeresis</string>
      <string>i_with_macron</string>
    </array>
    <key>public.kern1.less</key>
    <array>
      <string>less</string>
      <string>less_equal</string>
      <string>angleleft</string>
      <string>angledblleft</string>
    </array>
    <key>public.kern1.o</key>
    <array>
      <string>b</string>
      <string>c</string>
      <string>e</string>
      <string>o</string>
      <string>p</string>
      <string>ae</string>
      <string>oe</string>
      <string>eth</string>
      <string>thorn</string>
      <string>o_with_grave</string>
      <string>o_with_acute</string>
      <string>o_with_circumflex</string>
      <string>o_with_smalltilde</string>
      <string>o_with_diaeresis</string>
      <string>o_with_stroke</string>
      <string>o_with_macron</string>
      <string>e_with_grave</string>
      <string>e_with_acute</string>
      <string>e_with_circumflex</string>
      <string>e_with_diaeresis</string>
      <string>e_with_macron</string>
      <string>e_with_dotabove</string>
      <string>c_with_cedilla</string>
      <string>c_with_acute</string>
      <string>c_with_caron</string>
    </array>
    <key>public.kern1.percent</key>
    <array>
      <string>percent</string>
      <string>permille</string>
    </array>
    <key>public.kern1.period</key>
    <array>
      <string>period</string>
      <string>comma</string>
      <string>ellipsis</string>
      <string>quotelow9</string>
      <string>quotedbllow9</string>
    </array>
    <key>public.kern1.quotesingle</key>
    <array>
      <string>quotesingle</string>
      <string>quotedbl</string>
      <string>quoteleft</string>
      <string>quoteright</string>
      <string>quotedblleft</string>
      <string>quotedblright</string>
    </array>
    <key>public.kern1.s</key>
    <array>
      <string>s</string>
      <string>s_with_acute</string>
      <string>s_with_caron</string>
    </array>
    <key>public.kern1.v</key>
    <array>
      <string>v</string>
      <string>y</string>
      <string>y_with_acute</string>
      <string>y_with_diaeresis</string>
    </array>
    <key>public.kern1.z</key>
    <array>
      <string>z</string>
      <string>z_with_dotabove</string>
      <string>z_with_acute</string>
      <string>z_with_caron</string>
    </array>
    <key>public.kern2.A</key>
    <array>
      <string>A</string>
      <string>increment</string>
      <string>A_with_grave</string>
      <string>A_with_acute</string>
      <string>A_with_circumflex</string>
      <string>A_with_smalltilde</string>
      <string>A_with_diaeresis</string>
      <string>A_with_ring</string>
      <string>A_with_macron</string>
    </array>
    <key>public.kern2.E</key>
    <array>
      <string>E</string>
      <string>E_with_grave</string>
      <string>E_with_acute</string>
      <string>E_with_circumflex</string>
      <string>E_with_diaeresis</string>
      <string>E_with_macron</string>
      <string>E_with_dotabove</string>
    </array>
    <key>public.kern2.I</key>
    <array>
      <string>I</string>
      <string>I_with_grave</string>
      <string>I_with_acute</string>
      <string>I_with_circumflex</string>
      <string>I_with_diaeresis</string>
      <string>I_with_macron</string>
    </array>
    <key>public.kern2.N</key>
    <array>
      <string>N</string>
      <string>N_with_smalltilde</string>
      <string>N_with_acute</string>
    </array>
    <key>public.kern2.O</key>
    <array>
      <string>C</string>
      <string>G</string>
      <string>O</string>
      <string>Q</string>
      <string>OE</string>
      <string>euro</string>
      <string>copyright</string>
      <string>registered</string>
      <string>O_with_grave</string>
      <string>O_with_acute</string>
      <string>O_with_circumflex</string>
      <string>O_with_smalltilde</string>
      <string>O_with_diaeresis</string>
      <string>O_with_stroke</string>
      <string>O_with_macron</string>
      <string>C_with_cedilla</string>
      <string>C_with_acute</string>
      <string>C_with_caron</string>
    </array>
    <key>public.kern2.PI</key>
    <array>
      <string>PI</string>
      <string>nary_product</string>
    </array>
    <key>public.kern2.S</key>
    <array>
      <string>S</string>
      <string>dollar</string>
      <string>S_with_acute</string>
      <string>S_with_caron</string>
    </array>
    <key>public.kern2.SIGMA</key>
    <array>
      <string>SIGMA</string>
      <string>nary_sum</string>
    </array>
    <key>public.kern2.U</key>
    <array>
      <string>U</string>
      <string>U_with_grave</string>
      <string>U_with_acute</string>
      <string>U_with_circumflex</string>
      <string>U_with_diaeresis</string>
      <string>U_with_macron</string>
    </array>
    <key>public.kern2.W</key>
    <array>
      <string>W</string>
      <string>won</string>
    </array>
    <key>public.kern2.Y</key>
    <array>
      <string>Y</string>
      <string>Y_with_acute</string>
      <string>Y_with_diaeresis</string>
    </array>
    <key>public.kern2.Z</key>
    <array>
      <string>Z</string>
      <string>Z_with_dotabove</string>
      <string>Z_with_acute</string>
      <string>Z_with_caron</string>
    </array>
    <key>public.kern2.asterisk</key>
    <array>
      <string>asterisk</string>
      <string>asciicircum</string>
      <string>degree</string>
      <string>ordinalfeminine</string>
      <string>ordinalmasculine</string>
    </array>
    <key>public.kern2.bracketleft</key>
    <array>
      <string>bracketleft</string>
      <string>parenleft</string>
      <string>braceleft</string>
    </array>
    <key>public.kern2.bracketright</key>
    <array>
      <string>bracketright</string>
      <string>parenright</string>
      <string>braceright</string>
    </array>
    <key>public.kern2.colon</key>
    <array>
      <string>colon</string>
      <string>semicolon</string>
    </array>
    <key>public.kern2.diesis</key>
    <array>
      <string>diesis</string>
      <string>dagger</string>
    </array>
    <key>public.kern2.greater</key>
    <array>
      <string>greater</string>
      <string>greater_equal</string>
      <string>angleright</string>
      <string>angledblright</string>
    </array>
    <key>public.kern2.hyphen</key>
    <array>
      <string>hyphen</string>
      <string>emdash</string>
      <string>endash</string>
      <string>plus</string>
      <string>minus</string>
      <string>divide</string>
      <string>tilde</string>
      <string>equal</string>
      <string>almost_equal</string>
      <string>not_equal</string>
      <string>arrowright</string>
      <string>interpunct</string>
      <string>bullet</string>
      <string>plusminus</string>
    </array>
    <key>public.kern2.i</key>
    <array>
      <string>i</string>
      <string>j</string>
      <string>i_with_grave</string>
      <string>i_with_acute</string>
      <string>i_with_circumflex</string>
      <string>i_with_diaeresis</string>
      <string>i_with_macron</string>
    </array>
    <key>public.kern2.less</key>
    <array>
      <string>less</string>
      <string>less_equal</string>
      <string>angleleft</string>
      <string>angledblleft</string>
      <string>arrowleft</string>
    </array>
    <key>public.kern2.m</key>
    <array>
      <string>m</string>
      <string>n</string>
      <string>r</string>
      <string>p</string>
      <string>lower_i_dotless</string>
      <string>mu</string>
      <string>n_with_smalltilde</string>
      <string>n_with_acute</string>
    </array>
    <key>public.kern2.o</key>
    <array>
      <string>a</string>
      <string>c</string>
      <string>d</string>
      <string>e</string>
      <string>g</string>
      <string>o</string>
      <string>q</string>
      <string>ae</string>
      <string>oe</string>
      <string>eth</string>
      <string>o_with_grave</string>
      <string>o_with_acute</string>
      <string>o_with_circumflex</string>
      <string>o_with_smalltilde</string>
      <string>o_with_diaeresis</string>
      <string>o_with_stroke</string>
      <string>o_with_macron</string>
      <string>e_with_grave</string>
      <string>e_with_acute</string>
      <string>e_with_circumflex</string>
      <string>e_with_diaeresis</string>
      <string>e_with_macron</string>
      <string>e_with_dotabove</string>
      <string>c_with_cedilla</string>
      <string>c_with_acute</string>
      <string>c_with_caron</string>
      <string>a_with_grave</string>
      <string>a_with_acute</string>
      <string>a_with_circumflex</string>
      <string>a_with_smalltilde</string>
      <string>a_with_diaeresis</string>
      <string>a_with_ring</string>
      <string>a_with_macron</string>
    </array>
    <key>public.kern2.percent</key>
    <array>
      <string>percent</string>
      <string>permille</string>
    </array>
    <key>public.kern2.period</key>
    <array>
      <string>period</string>
      <string>comma</string>
      <string>ellipsis</string>
      <string>quotelow9</string>
      <string>quotedbllow9</string>
    </array>
    <key>public.kern2.quotesingle</key>
    <array>
      <string>quotesingle</string>
      <string>quotedbl</string>
      <string>quoteleft</string>
      <string>quoteright</string>
      <string>quotedblleft</string>
      <string>quotedblright</string>
    </array>
    <key>public.kern2.s</key>
    <array>
      <string>s</string>
      <string>s_with_acute</string>
      <string>s_with_caron</string>
    </array>
    <key>public.kern2.u</key>
    <array>
      <string>u</string>
      <string>u_with_grave</string>
      <string>u_with_acute</string>
      <string>u_with_circumflex</string>
      <string>u_with_diaeresis</string>
      <string>u_with_macron</string>
    </array>
    <key>public.kern2.v</key>
    <array>
      <string>v</string>
      <string>y</string>
      <string>y_with_acute</string>
      <string>y_with_diaeresis</string>
    </array>
    <key>public.kern2.z</key>
    <array>
      <string>z</string>
      <string>z_with_dotabove</string>
      <string>z_with_acute</string>
      <string>z_with_caron</string>
    </array>
  </dict>
</plist>
