<?xml version='1.0' encoding='UTF-8'?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <dict>
    <key>.notdef</key>
    <string>_notdef.glif</string>
    <key>A</key>
    <string>A_.glif</string>
    <key>AE</key>
    <string>A_E_.glif</string>
    <key>A_with_acute</key>
    <string>A__with_acute.glif</string>
    <key>A_with_circumflex</key>
    <string>A__with_circumflex.glif</string>
    <key>A_with_diaeresis</key>
    <string>A__with_diaeresis.glif</string>
    <key>A_with_grave</key>
    <string>A__with_grave.glif</string>
    <key>A_with_macron</key>
    <string>A__with_macron.glif</string>
    <key>A_with_ring</key>
    <string>A__with_ring.glif</string>
    <key>A_with_smalltilde</key>
    <string>A__with_smalltilde.glif</string>
    <key>B</key>
    <string>B_.glif</string>
    <key>C</key>
    <string>C_.glif</string>
    <key>C_with_acute</key>
    <string>C__with_acute.glif</string>
    <key>C_with_caron</key>
    <string>C__with_caron.glif</string>
    <key>C_with_cedilla</key>
    <string>C__with_cedilla.glif</string>
    <key>D</key>
    <string>D_.glif</string>
    <key>E</key>
    <string>E_.glif</string>
    <key>ETH</key>
    <string>E_T_H_.glif</string>
    <key>E_with_acute</key>
    <string>E__with_acute.glif</string>
    <key>E_with_circumflex</key>
    <string>E__with_circumflex.glif</string>
    <key>E_with_diaeresis</key>
    <string>E__with_diaeresis.glif</string>
    <key>E_with_dotabove</key>
    <string>E__with_dotabove.glif</string>
    <key>E_with_grave</key>
    <string>E__with_grave.glif</string>
    <key>E_with_macron</key>
    <string>E__with_macron.glif</string>
    <key>F</key>
    <string>F_.glif</string>
    <key>G</key>
    <string>G_.glif</string>
    <key>H</key>
    <string>H_.glif</string>
    <key>I</key>
    <string>I_.glif</string>
    <key>I_with_acute</key>
    <string>I__with_acute.glif</string>
    <key>I_with_circumflex</key>
    <string>I__with_circumflex.glif</string>
    <key>I_with_diaeresis</key>
    <string>I__with_diaeresis.glif</string>
    <key>I_with_grave</key>
    <string>I__with_grave.glif</string>
    <key>I_with_macron</key>
    <string>I__with_macron.glif</string>
    <key>J</key>
    <string>J_.glif</string>
    <key>K</key>
    <string>K_.glif</string>
    <key>L</key>
    <string>L_.glif</string>
    <key>M</key>
    <string>M_.glif</string>
    <key>N</key>
    <string>N_.glif</string>
    <key>N_with_acute</key>
    <string>N__with_acute.glif</string>
    <key>N_with_smalltilde</key>
    <string>N__with_smalltilde.glif</string>
    <key>O</key>
    <string>O_.glif</string>
    <key>OE</key>
    <string>O_E_.glif</string>
    <key>O_with_acute</key>
    <string>O__with_acute.glif</string>
    <key>O_with_circumflex</key>
    <string>O__with_circumflex.glif</string>
    <key>O_with_diaeresis</key>
    <string>O__with_diaeresis.glif</string>
    <key>O_with_grave</key>
    <string>O__with_grave.glif</string>
    <key>O_with_macron</key>
    <string>O__with_macron.glif</string>
    <key>O_with_smalltilde</key>
    <string>O__with_smalltilde.glif</string>
    <key>O_with_stroke</key>
    <string>O__with_stroke.glif</string>
    <key>P</key>
    <string>P_.glif</string>
    <key>PI</key>
    <string>P_I_.glif</string>
    <key>Q</key>
    <string>Q_.glif</string>
    <key>R</key>
    <string>R_.glif</string>
    <key>S</key>
    <string>S_.glif</string>
    <key>SIGMA</key>
    <string>S_I_G_M_A_.glif</string>
    <key>S_with_acute</key>
    <string>S__with_acute.glif</string>
    <key>S_with_caron</key>
    <string>S__with_caron.glif</string>
    <key>T</key>
    <string>T_.glif</string>
    <key>THORN</key>
    <string>T_H_O_R_N_.glif</string>
    <key>U</key>
    <string>U_.glif</string>
    <key>U_with_acute</key>
    <string>U__with_acute.glif</string>
    <key>U_with_circumflex</key>
    <string>U__with_circumflex.glif</string>
    <key>U_with_diaeresis</key>
    <string>U__with_diaeresis.glif</string>
    <key>U_with_grave</key>
    <string>U__with_grave.glif</string>
    <key>U_with_macron</key>
    <string>U__with_macron.glif</string>
    <key>V</key>
    <string>V_.glif</string>
    <key>W</key>
    <string>W_.glif</string>
    <key>X</key>
    <string>X_.glif</string>
    <key>Y</key>
    <string>Y_.glif</string>
    <key>Y_with_acute</key>
    <string>Y__with_acute.glif</string>
    <key>Y_with_diaeresis</key>
    <string>Y__with_diaeresis.glif</string>
    <key>Z</key>
    <string>Z_.glif</string>
    <key>Z_with_acute</key>
    <string>Z__with_acute.glif</string>
    <key>Z_with_caron</key>
    <string>Z__with_caron.glif</string>
    <key>Z_with_dotabove</key>
    <string>Z__with_dotabove.glif</string>
    <key>a</key>
    <string>a.glif</string>
    <key>a_with_acute</key>
    <string>a_with_acute.glif</string>
    <key>a_with_circumflex</key>
    <string>a_with_circumflex.glif</string>
    <key>a_with_diaeresis</key>
    <string>a_with_diaeresis.glif</string>
    <key>a_with_grave</key>
    <string>a_with_grave.glif</string>
    <key>a_with_macron</key>
    <string>a_with_macron.glif</string>
    <key>a_with_ring</key>
    <string>a_with_ring.glif</string>
    <key>a_with_smalltilde</key>
    <string>a_with_smalltilde.glif</string>
    <key>acute</key>
    <string>acute.glif</string>
    <key>acutedbl</key>
    <string>acutedbl.glif</string>
    <key>ae</key>
    <string>ae.glif</string>
    <key>almost_equal</key>
    <string>almost_equal.glif</string>
    <key>ampersand</key>
    <string>ampersand.glif</string>
    <key>angledblleft</key>
    <string>angledblleft.glif</string>
    <key>angledblright</key>
    <string>angledblright.glif</string>
    <key>angleleft</key>
    <string>angleleft.glif</string>
    <key>angleright</key>
    <string>angleright.glif</string>
    <key>apostrophe</key>
    <string>apostrophe.glif</string>
    <key>arrowdown</key>
    <string>arrowdown.glif</string>
    <key>arrowleft</key>
    <string>arrowleft.glif</string>
    <key>arrowright</key>
    <string>arrowright.glif</string>
    <key>arrowup</key>
    <string>arrowup.glif</string>
    <key>asciicircum</key>
    <string>asciicircum.glif</string>
    <key>asterisk</key>
    <string>asterisk.glif</string>
    <key>at</key>
    <string>at.glif</string>
    <key>b</key>
    <string>b.glif</string>
    <key>backslash</key>
    <string>backslash.glif</string>
    <key>bar</key>
    <string>bar.glif</string>
    <key>braceleft</key>
    <string>braceleft.glif</string>
    <key>braceright</key>
    <string>braceright.glif</string>
    <key>bracketleft</key>
    <string>bracketleft.glif</string>
    <key>bracketright</key>
    <string>bracketright.glif</string>
    <key>breve</key>
    <string>breve.glif</string>
    <key>brokenbar</key>
    <string>brokenbar.glif</string>
    <key>bullet</key>
    <string>bullet.glif</string>
    <key>c</key>
    <string>c.glif</string>
    <key>c_with_acute</key>
    <string>c_with_acute.glif</string>
    <key>c_with_caron</key>
    <string>c_with_caron.glif</string>
    <key>c_with_cedilla</key>
    <string>c_with_cedilla.glif</string>
    <key>caron</key>
    <string>caron.glif</string>
    <key>cedilla</key>
    <string>cedilla.glif</string>
    <key>cent</key>
    <string>cent.glif</string>
    <key>circumflex</key>
    <string>circumflex.glif</string>
    <key>colon</key>
    <string>colon.glif</string>
    <key>comma</key>
    <string>comma.glif</string>
    <key>copyright</key>
    <string>copyright.glif</string>
    <key>currency</key>
    <string>currency.glif</string>
    <key>d</key>
    <string>d.glif</string>
    <key>dagger</key>
    <string>dagger.glif</string>
    <key>degree</key>
    <string>degree.glif</string>
    <key>diaeresis</key>
    <string>diaeresis.glif</string>
    <key>diesis</key>
    <string>diesis.glif</string>
    <key>divide</key>
    <string>divide.glif</string>
    <key>divslash</key>
    <string>divslash.glif</string>
    <key>dollar</key>
    <string>dollar.glif</string>
    <key>dotabove</key>
    <string>dotabove.glif</string>
    <key>e</key>
    <string>e.glif</string>
    <key>e_with_acute</key>
    <string>e_with_acute.glif</string>
    <key>e_with_circumflex</key>
    <string>e_with_circumflex.glif</string>
    <key>e_with_diaeresis</key>
    <string>e_with_diaeresis.glif</string>
    <key>e_with_dotabove</key>
    <string>e_with_dotabove.glif</string>
    <key>e_with_grave</key>
    <string>e_with_grave.glif</string>
    <key>e_with_macron</key>
    <string>e_with_macron.glif</string>
    <key>eight</key>
    <string>eight.glif</string>
    <key>ellipsis</key>
    <string>ellipsis.glif</string>
    <key>emdash</key>
    <string>emdash.glif</string>
    <key>endash</key>
    <string>endash.glif</string>
    <key>equal</key>
    <string>equal.glif</string>
    <key>eszett</key>
    <string>eszett.glif</string>
    <key>eth</key>
    <string>eth.glif</string>
    <key>euro</key>
    <string>euro.glif</string>
    <key>exclamation</key>
    <string>exclamation.glif</string>
    <key>f</key>
    <string>f.glif</string>
    <key>five</key>
    <string>five.glif</string>
    <key>five_over_eight</key>
    <string>five_over_eight.glif</string>
    <key>five_over_six</key>
    <string>five_over_six.glif</string>
    <key>four</key>
    <string>four.glif</string>
    <key>four_over_five</key>
    <string>four_over_five.glif</string>
    <key>fraction</key>
    <string>fraction.glif</string>
    <key>g</key>
    <string>g.glif</string>
    <key>grave</key>
    <string>grave.glif</string>
    <key>greater</key>
    <string>greater.glif</string>
    <key>greater_equal</key>
    <string>greater_equal.glif</string>
    <key>h</key>
    <string>h.glif</string>
    <key>hyphen</key>
    <string>hyphen.glif</string>
    <key>i</key>
    <string>i.glif</string>
    <key>i_with_acute</key>
    <string>i_with_acute.glif</string>
    <key>i_with_circumflex</key>
    <string>i_with_circumflex.glif</string>
    <key>i_with_diaeresis</key>
    <string>i_with_diaeresis.glif</string>
    <key>i_with_grave</key>
    <string>i_with_grave.glif</string>
    <key>i_with_macron</key>
    <string>i_with_macron.glif</string>
    <key>increment</key>
    <string>increment.glif</string>
    <key>infinity</key>
    <string>infinity.glif</string>
    <key>interpunct</key>
    <string>interpunct.glif</string>
    <key>invertedexclam</key>
    <string>invertedexclam.glif</string>
    <key>invertedquestion</key>
    <string>invertedquestion.glif</string>
    <key>j</key>
    <string>j.glif</string>
    <key>k</key>
    <string>k.glif</string>
    <key>l</key>
    <string>l.glif</string>
    <key>less</key>
    <string>less.glif</string>
    <key>less_equal</key>
    <string>less_equal.glif</string>
    <key>logicalnot</key>
    <string>logicalnot.glif</string>
    <key>logo</key>
    <string>logo.glif</string>
    <key>lower_i_dotless</key>
    <string>lower_i_dotless.glif</string>
    <key>lozenge</key>
    <string>lozenge.glif</string>
    <key>m</key>
    <string>m.glif</string>
    <key>macron</key>
    <string>macron.glif</string>
    <key>minus</key>
    <string>minus.glif</string>
    <key>mu</key>
    <string>mu.glif</string>
    <key>multiply</key>
    <string>multiply.glif</string>
    <key>n</key>
    <string>n.glif</string>
    <key>n_with_acute</key>
    <string>n_with_acute.glif</string>
    <key>n_with_smalltilde</key>
    <string>n_with_smalltilde.glif</string>
    <key>nary_product</key>
    <string>nary_product.glif</string>
    <key>nary_sum</key>
    <string>nary_sum.glif</string>
    <key>nine</key>
    <string>nine.glif</string>
    <key>not_equal</key>
    <string>not_equal.glif</string>
    <key>null</key>
    <string>null.glif</string>
    <key>numbersign</key>
    <string>numbersign.glif</string>
    <key>o</key>
    <string>o.glif</string>
    <key>o_with_acute</key>
    <string>o_with_acute.glif</string>
    <key>o_with_circumflex</key>
    <string>o_with_circumflex.glif</string>
    <key>o_with_diaeresis</key>
    <string>o_with_diaeresis.glif</string>
    <key>o_with_grave</key>
    <string>o_with_grave.glif</string>
    <key>o_with_macron</key>
    <string>o_with_macron.glif</string>
    <key>o_with_smalltilde</key>
    <string>o_with_smalltilde.glif</string>
    <key>o_with_stroke</key>
    <string>o_with_stroke.glif</string>
    <key>oe</key>
    <string>oe.glif</string>
    <key>one</key>
    <string>one.glif</string>
    <key>one_over_eight</key>
    <string>one_over_eight.glif</string>
    <key>one_over_five</key>
    <string>one_over_five.glif</string>
    <key>one_over_four</key>
    <string>one_over_four.glif</string>
    <key>one_over_six</key>
    <string>one_over_six.glif</string>
    <key>one_over_three</key>
    <string>one_over_three.glif</string>
    <key>one_over_two</key>
    <string>one_over_two.glif</string>
    <key>ordinalfeminine</key>
    <string>ordinalfeminine.glif</string>
    <key>ordinalmasculine</key>
    <string>ordinalmasculine.glif</string>
    <key>p</key>
    <string>p.glif</string>
    <key>parenleft</key>
    <string>parenleft.glif</string>
    <key>parenright</key>
    <string>parenright.glif</string>
    <key>percent</key>
    <string>percent.glif</string>
    <key>period</key>
    <string>period.glif</string>
    <key>permille</key>
    <string>permille.glif</string>
    <key>pi</key>
    <string>pi.glif</string>
    <key>pilcrow</key>
    <string>pilcrow.glif</string>
    <key>plus</key>
    <string>plus.glif</string>
    <key>plusminus</key>
    <string>plusminus.glif</string>
    <key>pound</key>
    <string>pound.glif</string>
    <key>prime</key>
    <string>prime.glif</string>
    <key>primedbl</key>
    <string>primedbl.glif</string>
    <key>q</key>
    <string>q.glif</string>
    <key>question</key>
    <string>question.glif</string>
    <key>quotedbl</key>
    <string>quotedbl.glif</string>
    <key>quotedblleft</key>
    <string>quotedblleft.glif</string>
    <key>quotedbllow9</key>
    <string>quotedbllow9.glif</string>
    <key>quotedblright</key>
    <string>quotedblright.glif</string>
    <key>quoteleft</key>
    <string>quoteleft.glif</string>
    <key>quotelow9</key>
    <string>quotelow9.glif</string>
    <key>quoteright</key>
    <string>quoteright.glif</string>
    <key>quotesingle</key>
    <string>quotesingle.glif</string>
    <key>r</key>
    <string>r.glif</string>
    <key>raised_colon</key>
    <string>raised_colon.glif</string>
    <key>registered</key>
    <string>registered.glif</string>
    <key>return</key>
    <string>return.glif</string>
    <key>ring</key>
    <string>ring.glif</string>
    <key>s</key>
    <string>s.glif</string>
    <key>s_with_acute</key>
    <string>s_with_acute.glif</string>
    <key>s_with_caron</key>
    <string>s_with_caron.glif</string>
    <key>section</key>
    <string>section.glif</string>
    <key>semicolon</key>
    <string>semicolon.glif</string>
    <key>seven</key>
    <string>seven.glif</string>
    <key>seven_over_eight</key>
    <string>seven_over_eight.glif</string>
    <key>sigma</key>
    <string>sigma.glif</string>
    <key>six</key>
    <string>six.glif</string>
    <key>slash</key>
    <string>slash.glif</string>
    <key>smalltilde</key>
    <string>smalltilde.glif</string>
    <key>space</key>
    <string>space.glif</string>
    <key>sub_eight</key>
    <string>sub_eight.glif</string>
    <key>sub_five</key>
    <string>sub_five.glif</string>
    <key>sub_four</key>
    <string>sub_four.glif</string>
    <key>sub_nine</key>
    <string>sub_nine.glif</string>
    <key>sub_one</key>
    <string>sub_one.glif</string>
    <key>sub_seven</key>
    <string>sub_seven.glif</string>
    <key>sub_six</key>
    <string>sub_six.glif</string>
    <key>sub_three</key>
    <string>sub_three.glif</string>
    <key>sub_two</key>
    <string>sub_two.glif</string>
    <key>sub_zero</key>
    <string>sub_zero.glif</string>
    <key>sup_eight</key>
    <string>sup_eight.glif</string>
    <key>sup_five</key>
    <string>sup_five.glif</string>
    <key>sup_four</key>
    <string>sup_four.glif</string>
    <key>sup_nine</key>
    <string>sup_nine.glif</string>
    <key>sup_one</key>
    <string>sup_one.glif</string>
    <key>sup_seven</key>
    <string>sup_seven.glif</string>
    <key>sup_six</key>
    <string>sup_six.glif</string>
    <key>sup_three</key>
    <string>sup_three.glif</string>
    <key>sup_two</key>
    <string>sup_two.glif</string>
    <key>sup_zero</key>
    <string>sup_zero.glif</string>
    <key>t</key>
    <string>t.glif</string>
    <key>thorn</key>
    <string>thorn.glif</string>
    <key>three</key>
    <string>three.glif</string>
    <key>three_over_eight</key>
    <string>three_over_eight.glif</string>
    <key>three_over_five</key>
    <string>three_over_five.glif</string>
    <key>three_over_four</key>
    <string>three_over_four.glif</string>
    <key>tilde</key>
    <string>tilde.glif</string>
    <key>trademark</key>
    <string>trademark.glif</string>
    <key>turnedcomma</key>
    <string>turnedcomma.glif</string>
    <key>two</key>
    <string>two.glif</string>
    <key>two_over_five</key>
    <string>two_over_five.glif</string>
    <key>two_over_three</key>
    <string>two_over_three.glif</string>
    <key>u</key>
    <string>u.glif</string>
    <key>u_with_acute</key>
    <string>u_with_acute.glif</string>
    <key>u_with_circumflex</key>
    <string>u_with_circumflex.glif</string>
    <key>u_with_diaeresis</key>
    <string>u_with_diaeresis.glif</string>
    <key>u_with_grave</key>
    <string>u_with_grave.glif</string>
    <key>u_with_macron</key>
    <string>u_with_macron.glif</string>
    <key>underscore</key>
    <string>underscore.glif</string>
    <key>v</key>
    <string>v.glif</string>
    <key>w</key>
    <string>w.glif</string>
    <key>won</key>
    <string>won.glif</string>
    <key>x</key>
    <string>x.glif</string>
    <key>y</key>
    <string>y.glif</string>
    <key>y_with_acute</key>
    <string>y_with_acute.glif</string>
    <key>y_with_diaeresis</key>
    <string>y_with_diaeresis.glif</string>
    <key>yen</key>
    <string>yen.glif</string>
    <key>z</key>
    <string>z.glif</string>
    <key>z_with_acute</key>
    <string>z_with_acute.glif</string>
    <key>z_with_caron</key>
    <string>z_with_caron.glif</string>
    <key>z_with_dotabove</key>
    <string>z_with_dotabove.glif</string>
    <key>zero</key>
    <string>zero.glif</string>
  </dict>
</plist>
