<?xml version='1.0' encoding='UTF-8'?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <dict>
    <key>public.glyphOrder</key>
    <array>
      <string>.notdef</string>
      <string>null</string>
      <string>return</string>
      <string>space</string>
      <string>A</string>
      <string>B</string>
      <string>C</string>
      <string>D</string>
      <string>E</string>
      <string>F</string>
      <string>G</string>
      <string>H</string>
      <string>I</string>
      <string>J</string>
      <string>K</string>
      <string>L</string>
      <string>M</string>
      <string>N</string>
      <string>O</string>
      <string>P</string>
      <string>Q</string>
      <string>R</string>
      <string>S</string>
      <string>T</string>
      <string>U</string>
      <string>V</string>
      <string>W</string>
      <string>X</string>
      <string>Y</string>
      <string>Z</string>
      <string>a</string>
      <string>b</string>
      <string>c</string>
      <string>d</string>
      <string>e</string>
      <string>f</string>
      <string>g</string>
      <string>h</string>
      <string>i</string>
      <string>j</string>
      <string>k</string>
      <string>l</string>
      <string>m</string>
      <string>n</string>
      <string>o</string>
      <string>p</string>
      <string>q</string>
      <string>r</string>
      <string>s</string>
      <string>t</string>
      <string>u</string>
      <string>v</string>
      <string>w</string>
      <string>x</string>
      <string>y</string>
      <string>z</string>
      <string>i_dotless</string>
      <string>j_dotless</string>
      <string>kra</string>
      <string>s_long</string>
      <string>AE</string>
      <string>OE</string>
      <string>ETH</string>
      <string>THORN</string>
      <string>ENG</string>
      <string>SCHWA</string>
      <string>ESZETT</string>
      <string>ae</string>
      <string>oe</string>
      <string>db</string>
      <string>qp</string>
      <string>eth</string>
      <string>thorn</string>
      <string>eng</string>
      <string>schwa</string>
      <string>eszett</string>
      <string>DELTA</string>
      <string>PI</string>
      <string>SIGMA</string>
      <string>mu</string>
      <string>pi</string>
      <string>sigma</string>
      <string>zero</string>
      <string>one</string>
      <string>two</string>
      <string>three</string>
      <string>four</string>
      <string>five</string>
      <string>six</string>
      <string>seven</string>
      <string>eight</string>
      <string>nine</string>
      <string>sup_zero</string>
      <string>sup_one</string>
      <string>sup_two</string>
      <string>sup_three</string>
      <string>sup_four</string>
      <string>sup_five</string>
      <string>sup_six</string>
      <string>sup_seven</string>
      <string>sup_eight</string>
      <string>sup_nine</string>
      <string>sub_zero</string>
      <string>sub_one</string>
      <string>sub_two</string>
      <string>sub_three</string>
      <string>sub_four</string>
      <string>sub_five</string>
      <string>sub_six</string>
      <string>sub_seven</string>
      <string>sub_eight</string>
      <string>sub_nine</string>
      <string>one_over_four</string>
      <string>one_over_two</string>
      <string>three_over_four</string>
      <string>one_over_seven</string>
      <string>one_over_nine</string>
      <string>one_over_ten</string>
      <string>one_over_three</string>
      <string>two_over_three</string>
      <string>one_over_five</string>
      <string>two_over_five</string>
      <string>three_over_five</string>
      <string>four_over_five</string>
      <string>one_over_six</string>
      <string>five_over_six</string>
      <string>one_over_eight</string>
      <string>three_over_eight</string>
      <string>five_over_eight</string>
      <string>seven_over_eight</string>
      <string>one_over_</string>
      <string>zero_over_three</string>
      <string>sup_n</string>
      <string>sup_N</string>
      <string>dollar</string>
      <string>cent</string>
      <string>pound</string>
      <string>currency</string>
      <string>yen</string>
      <string>florin</string>
      <string>colon_currency</string>
      <string>franc</string>
      <string>lira</string>
      <string>naira</string>
      <string>peseta</string>
      <string>won</string>
      <string>dong</string>
      <string>euro</string>
      <string>kip</string>
      <string>peso</string>
      <string>guarani</string>
      <string>austral</string>
      <string>cedi</string>
      <string>tenge</string>
      <string>rupee</string>
      <string>lira_turk</string>
      <string>manat</string>
      <string>ruble</string>
      <string>bitcoin</string>
      <string>period</string>
      <string>comma</string>
      <string>colon</string>
      <string>semicolon</string>
      <string>raised_colon</string>
      <string>turnedcomma</string>
      <string>apostrophe</string>
      <string>interpunct</string>
      <string>bullet</string>
      <string>ellipsis</string>
      <string>asterisk</string>
      <string>exclamation</string>
      <string>question</string>
      <string>inv_exclamation</string>
      <string>inv_question</string>
      <string>ampersand</string>
      <string>numbersign</string>
      <string>section</string>
      <string>at</string>
      <string>micron</string>
      <string>pilcrow</string>
      <string>quote</string>
      <string>quote_dbl</string>
      <string>quoteleft</string>
      <string>quoteright</string>
      <string>quotelow9</string>
      <string>quoteleft_dbl</string>
      <string>quoteright_dbl</string>
      <string>quotelow9_dbl</string>
      <string>plus</string>
      <string>minus</string>
      <string>multiply</string>
      <string>divide</string>
      <string>divslash</string>
      <string>power</string>
      <string>plusminus</string>
      <string>less</string>
      <string>equal</string>
      <string>greater</string>
      <string>infinity</string>
      <string>almost_equal</string>
      <string>not_equal</string>
      <string>less_equal</string>
      <string>greater_equal</string>
      <string>degree</string>
      <string>percent</string>
      <string>permille</string>
      <string>permyriad</string>
      <string>logicalnot</string>
      <string>nary_sum</string>
      <string>nary_product</string>
      <string>increment</string>
      <string>lozenge</string>
      <string>prime</string>
      <string>prime_dbl</string>
      <string>prime_tpl</string>
      <string>prime_qdl</string>
      <string>prime_rev</string>
      <string>prime_rev_dbl</string>
      <string>prime_rev_tpl</string>
      <string>hyphen</string>
      <string>underscore</string>
      <string>endash</string>
      <string>emdash</string>
      <string>tilde</string>
      <string>bar</string>
      <string>brokenbar</string>
      <string>slash</string>
      <string>backslash</string>
      <string>parenleft</string>
      <string>parenright</string>
      <string>bracketleft</string>
      <string>bracketright</string>
      <string>braceleft</string>
      <string>braceright</string>
      <string>angleleft</string>
      <string>angleright</string>
      <string>angleleft_dbl</string>
      <string>angleright_dbl</string>
      <string>fraction</string>
      <string>copyright</string>
      <string>registered</string>
      <string>trademark</string>
      <string>ordinal_a</string>
      <string>ordinal_o</string>
      <string>numero</string>
      <string>dagger</string>
      <string>diesis</string>
      <string>arrow_left</string>
      <string>arrow_up</string>
      <string>arrow_right</string>
      <string>arrow_down</string>
      <string>arrow_leftright</string>
      <string>arrow_updown</string>
      <string>arrow_nw</string>
      <string>arrow_ne</string>
      <string>arrow_se</string>
      <string>arrow_sw</string>
      <string>acute</string>
      <string>grave</string>
      <string>breve</string>
      <string>circumflex</string>
      <string>caron</string>
      <string>ring</string>
      <string>diaeresis</string>
      <string>acutedbl</string>
      <string>tildeabove</string>
      <string>dotabove</string>
      <string>cedilla</string>
      <string>ogonek</string>
      <string>macron</string>
      <string>combining_grave</string>
      <string>combining_acute</string>
      <string>combining_circumflex</string>
      <string>combining_tildeabove</string>
      <string>combining_macron</string>
      <string>combining_breve</string>
      <string>combining_dotabove</string>
      <string>combining_diaeresis</string>
      <string>combining_hook</string>
      <string>combining_ring</string>
      <string>combining_acutedbl</string>
      <string>combining_caron</string>
      <string>combining_vertline</string>
      <string>combining_vertlinedbl</string>
      <string>combining_gravedbl</string>
      <string>combining_breveinv</string>
      <string>combining_horn</string>
      <string>combining_dotbelow</string>
      <string>combining_diaeresisbelow</string>
      <string>combining_ringbelow</string>
      <string>combining_commabelow</string>
      <string>combining_cedilla</string>
      <string>combining_ogonek</string>
      <string>combining_tildebelow</string>
      <string>combining_macronbelow</string>
      <string>combining_dotaboveright</string>
      <string>A_with_acute</string>
      <string>A_with_grave</string>
      <string>A_with_circumflex</string>
      <string>A_with_caron</string>
      <string>A_with_breve</string>
      <string>A_with_breveinv</string>
      <string>A_with_ring</string>
      <string>A_with_dotabove</string>
      <string>A_with_macron</string>
      <string>A_with_tildeabove</string>
      <string>A_with_hook</string>
      <string>A_with_diaeresis</string>
      <string>A_with_gravedbl</string>
      <string>A_with_ogonek</string>
      <string>A_with_ringbelow</string>
      <string>A_with_dotbelow</string>
      <string>AE_with_acute</string>
      <string>AE_with_macron</string>
      <string>B_with_dotabove</string>
      <string>B_with_dotbelow</string>
      <string>B_with_macronbelow</string>
      <string>C_with_acute</string>
      <string>C_with_circumflex</string>
      <string>C_with_caron</string>
      <string>C_with_dotabove</string>
      <string>C_with_cedilla</string>
      <string>D_with_caron</string>
      <string>D_with_dotabove</string>
      <string>D_with_stroke</string>
      <string>D_with_commabelow</string>
      <string>D_with_circumflexbelow</string>
      <string>D_with_dotbelow</string>
      <string>D_with_macronbelow</string>
      <string>E_with_acute</string>
      <string>E_with_grave</string>
      <string>E_with_circumflex</string>
      <string>E_with_caron</string>
      <string>E_with_breve</string>
      <string>E_with_breveinv</string>
      <string>E_with_dotabove</string>
      <string>E_with_macron</string>
      <string>E_with_tildeabove</string>
      <string>E_with_hook</string>
      <string>E_with_diaeresis</string>
      <string>E_with_gravedbl</string>
      <string>E_with_cedilla</string>
      <string>E_with_ogonek</string>
      <string>E_with_circumflexbelow</string>
      <string>E_with_dotbelow</string>
      <string>E_with_tildebelow</string>
      <string>F_with_dotabove</string>
      <string>F_with_hookleft</string>
      <string>G_with_acute</string>
      <string>G_with_circumflex</string>
      <string>G_with_caron</string>
      <string>G_with_breve</string>
      <string>G_with_dotabove</string>
      <string>G_with_macron</string>
      <string>G_with_commabelow</string>
      <string>H_with_circumflex</string>
      <string>H_with_caron</string>
      <string>H_with_dotabove</string>
      <string>H_with_diaeresis</string>
      <string>H_with_cedilla</string>
      <string>H_with_stroke</string>
      <string>H_with_dotbelow</string>
      <string>I_with_acute</string>
      <string>I_with_grave</string>
      <string>I_with_circumflex</string>
      <string>I_with_caron</string>
      <string>I_with_breve</string>
      <string>I_with_breveinv</string>
      <string>I_with_dotabove</string>
      <string>I_with_macron</string>
      <string>I_with_tildeabove</string>
      <string>I_with_hook</string>
      <string>I_with_diaeresis</string>
      <string>I_with_gravedbl</string>
      <string>I_with_ogonek</string>
      <string>I_with_stroke</string>
      <string>I_with_dotbelow</string>
      <string>I_with_tildebelow</string>
      <string>J_with_circumflex</string>
      <string>K_with_acute</string>
      <string>K_with_caron</string>
      <string>K_with_commabelow</string>
      <string>K_with_dotbelow</string>
      <string>K_with_macronbelow</string>
      <string>L_with_acute</string>
      <string>L_with_caron</string>
      <string>L_with_stroke</string>
      <string>L_with_dotmiddle</string>
      <string>L_with_commabelow</string>
      <string>L_with_circumflexbelow</string>
      <string>L_with_dotbelow</string>
      <string>L_with_macronbelow</string>
      <string>M_with_acute</string>
      <string>M_with_dotabove</string>
      <string>M_with_dotbelow</string>
      <string>N_with_acute</string>
      <string>N_with_grave</string>
      <string>N_with_caron</string>
      <string>N_with_dotabove</string>
      <string>N_with_tildeabove</string>
      <string>N_with_hookleft</string>
      <string>N_with_commabelow</string>
      <string>N_with_circumflexbelow</string>
      <string>N_with_dotbelow</string>
      <string>N_with_macronbelow</string>
      <string>O_with_acute</string>
      <string>O_with_grave</string>
      <string>O_with_circumflex</string>
      <string>O_with_caron</string>
      <string>O_with_breve</string>
      <string>O_with_breveinv</string>
      <string>O_with_dotabove</string>
      <string>O_with_macron</string>
      <string>O_with_tildeabove</string>
      <string>O_with_hook</string>
      <string>O_with_diaeresis</string>
      <string>O_with_acutedbl</string>
      <string>O_with_gravedbl</string>
      <string>O_with_ogonek</string>
      <string>O_with_stroke</string>
      <string>O_with_horn</string>
      <string>O_with_dotbelow</string>
      <string>P_with_acute</string>
      <string>P_with_dotabove</string>
      <string>R_with_acute</string>
      <string>R_with_caron</string>
      <string>R_with_breveinv</string>
      <string>R_with_dotabove</string>
      <string>R_with_gravedbl</string>
      <string>R_with_commabelow</string>
      <string>R_with_dotbelow</string>
      <string>R_with_macronbelow</string>
      <string>S_with_acute</string>
      <string>S_with_circumflex</string>
      <string>S_with_caron</string>
      <string>S_with_dotabove</string>
      <string>S_with_cedilla</string>
      <string>S_with_commabelow</string>
      <string>S_with_dotbelow</string>
      <string>T_with_caron</string>
      <string>T_with_dotabove</string>
      <string>T_with_cedilla</string>
      <string>T_with_stroke</string>
      <string>T_with_commabelow</string>
      <string>T_with_circumflexbelow</string>
      <string>T_with_dotbelow</string>
      <string>T_with_macronbelow</string>
      <string>U_with_acute</string>
      <string>U_with_grave</string>
      <string>U_with_circumflex</string>
      <string>U_with_caron</string>
      <string>U_with_breve</string>
      <string>U_with_breveinv</string>
      <string>U_with_ring</string>
      <string>U_with_macron</string>
      <string>U_with_tildeabove</string>
      <string>U_with_hook</string>
      <string>U_with_diaeresis</string>
      <string>U_with_acutedbl</string>
      <string>U_with_gravedbl</string>
      <string>U_with_ogonek</string>
      <string>U_with_horn</string>
      <string>U_with_circumflexbelow</string>
      <string>U_with_dotbelow</string>
      <string>U_with_tildebelow</string>
      <string>U_with_diaeresisbelow</string>
      <string>V_with_tildeabove</string>
      <string>V_with_dotbelow</string>
      <string>W_with_acute</string>
      <string>W_with_grave</string>
      <string>W_with_circumflex</string>
      <string>W_with_dotabove</string>
      <string>W_with_diaeresis</string>
      <string>W_with_dotbelow</string>
      <string>X_with_dotabove</string>
      <string>X_with_diaeresis</string>
      <string>Y_with_acute</string>
      <string>Y_with_grave</string>
      <string>Y_with_circumflex</string>
      <string>Y_with_dotabove</string>
      <string>Y_with_macron</string>
      <string>Y_with_tildeabove</string>
      <string>Y_with_hook</string>
      <string>Y_with_diaeresis</string>
      <string>Y_with_dotbelow</string>
      <string>Z_with_acute</string>
      <string>Z_with_circumflex</string>
      <string>Z_with_caron</string>
      <string>Z_with_dotabove</string>
      <string>Z_with_stroke</string>
      <string>Z_with_dotbelow</string>
      <string>Z_with_macronbelow</string>
      <string>a_with_acute</string>
      <string>a_with_grave</string>
      <string>a_with_circumflex</string>
      <string>a_with_caron</string>
      <string>a_with_breve</string>
      <string>a_with_breveinv</string>
      <string>a_with_ring</string>
      <string>a_with_dotabove</string>
      <string>a_with_macron</string>
      <string>a_with_tildeabove</string>
      <string>a_with_hook</string>
      <string>a_with_diaeresis</string>
      <string>a_with_gravedbl</string>
      <string>a_with_ogonek</string>
      <string>a_with_ringbelow</string>
      <string>a_with_dotbelow</string>
      <string>ae_with_acute</string>
      <string>ae_with_macron</string>
      <string>b_with_dotabove</string>
      <string>b_with_dotbelow</string>
      <string>b_with_macronbelow</string>
      <string>c_with_acute</string>
      <string>c_with_circumflex</string>
      <string>c_with_caron</string>
      <string>c_with_dotabove</string>
      <string>c_with_cedilla</string>
      <string>d_with_caron</string>
      <string>d_with_dotabove</string>
      <string>d_with_stroke</string>
      <string>d_with_commabelow</string>
      <string>d_with_circumflexbelow</string>
      <string>d_with_dotbelow</string>
      <string>d_with_macronbelow</string>
      <string>e_with_acute</string>
      <string>e_with_grave</string>
      <string>e_with_circumflex</string>
      <string>e_with_caron</string>
      <string>e_with_breve</string>
      <string>e_with_breveinv</string>
      <string>e_with_dotabove</string>
      <string>e_with_macron</string>
      <string>e_with_tildeabove</string>
      <string>e_with_hook</string>
      <string>e_with_diaeresis</string>
      <string>e_with_gravedbl</string>
      <string>e_with_cedilla</string>
      <string>e_with_ogonek</string>
      <string>e_with_circumflexbelow</string>
      <string>e_with_dotbelow</string>
      <string>e_with_tildebelow</string>
      <string>f_with_dotabove</string>
      <string>g_with_acute</string>
      <string>g_with_circumflex</string>
      <string>g_with_caron</string>
      <string>g_with_breve</string>
      <string>g_with_dotabove</string>
      <string>g_with_macron</string>
      <string>g_with_commabelow</string>
      <string>h_with_circumflex</string>
      <string>h_with_caron</string>
      <string>h_with_dotabove</string>
      <string>h_with_diaeresis</string>
      <string>h_with_cedilla</string>
      <string>h_with_stroke</string>
      <string>h_with_dotbelow</string>
      <string>h_with_macronbelow</string>
      <string>i_with_acute</string>
      <string>i_with_grave</string>
      <string>i_with_circumflex</string>
      <string>i_with_caron</string>
      <string>i_with_breve</string>
      <string>i_with_breveinv</string>
      <string>i_with_macron</string>
      <string>i_with_tildeabove</string>
      <string>i_with_hook</string>
      <string>i_with_diaeresis</string>
      <string>i_with_gravedbl</string>
      <string>i_with_ogonek</string>
      <string>i_with_dotbelow</string>
      <string>i_with_tildebelow</string>
      <string>j_with_circumflex</string>
      <string>j_with_caron</string>
      <string>k_with_acute</string>
      <string>k_with_caron</string>
      <string>k_with_commabelow</string>
      <string>k_with_dotbelow</string>
      <string>k_with_macronbelow</string>
      <string>l_with_acute</string>
      <string>l_with_caron</string>
      <string>l_with_stroke</string>
      <string>l_with_dotmiddle</string>
      <string>l_with_commabelow</string>
      <string>l_with_circumflexbelow</string>
      <string>l_with_dotbelow</string>
      <string>l_with_macronbelow</string>
      <string>m_with_acute</string>
      <string>m_with_dotabove</string>
      <string>m_with_dotbelow</string>
      <string>n_with_acute</string>
      <string>n_with_grave</string>
      <string>n_with_caron</string>
      <string>n_with_dotabove</string>
      <string>n_with_tildeabove</string>
      <string>n_with_hookleft</string>
      <string>n_with_commabelow</string>
      <string>n_with_circumflexbelow</string>
      <string>n_with_dotbelow</string>
      <string>n_with_macronbelow</string>
      <string>o_with_acute</string>
      <string>o_with_grave</string>
      <string>o_with_circumflex</string>
      <string>o_with_caron</string>
      <string>o_with_breve</string>
      <string>o_with_breveinv</string>
      <string>o_with_dotabove</string>
      <string>o_with_macron</string>
      <string>o_with_tildeabove</string>
      <string>o_with_hook</string>
      <string>o_with_diaeresis</string>
      <string>o_with_acutedbl</string>
      <string>o_with_gravedbl</string>
      <string>o_with_ogonek</string>
      <string>o_with_stroke</string>
      <string>o_with_horn</string>
      <string>o_with_dotbelow</string>
      <string>p_with_acute</string>
      <string>p_with_dotabove</string>
      <string>r_with_acute</string>
      <string>r_with_caron</string>
      <string>r_with_breveinv</string>
      <string>r_with_dotabove</string>
      <string>r_with_gravedbl</string>
      <string>r_with_commabelow</string>
      <string>r_with_dotbelow</string>
      <string>r_with_macronbelow</string>
      <string>s_with_acute</string>
      <string>s_with_circumflex</string>
      <string>s_with_caron</string>
      <string>s_with_dotabove</string>
      <string>s_with_cedilla</string>
      <string>s_with_commabelow</string>
      <string>s_with_dotbelow</string>
      <string>t_with_caron</string>
      <string>t_with_dotabove</string>
      <string>t_with_diaeresis</string>
      <string>t_with_cedilla</string>
      <string>t_with_stroke</string>
      <string>t_with_commabelow</string>
      <string>t_with_circumflexbelow</string>
      <string>t_with_dotbelow</string>
      <string>t_with_macronbelow</string>
      <string>u_with_acute</string>
      <string>u_with_grave</string>
      <string>u_with_circumflex</string>
      <string>u_with_caron</string>
      <string>u_with_breve</string>
      <string>u_with_breveinv</string>
      <string>u_with_ring</string>
      <string>u_with_macron</string>
      <string>u_with_tildeabove</string>
      <string>u_with_hook</string>
      <string>u_with_diaeresis</string>
      <string>u_with_acutedbl</string>
      <string>u_with_gravedbl</string>
      <string>u_with_ogonek</string>
      <string>u_with_horn</string>
      <string>u_with_circumflexbelow</string>
      <string>u_with_dotbelow</string>
      <string>u_with_tildebelow</string>
      <string>u_with_diaeresisbelow</string>
      <string>v_with_tildeabove</string>
      <string>v_with_dotbelow</string>
      <string>w_with_acute</string>
      <string>w_with_grave</string>
      <string>w_with_circumflex</string>
      <string>w_with_ring</string>
      <string>w_with_dotabove</string>
      <string>w_with_diaeresis</string>
      <string>w_with_dotbelow</string>
      <string>x_with_dotabove</string>
      <string>x_with_diaeresis</string>
      <string>y_with_acute</string>
      <string>y_with_grave</string>
      <string>y_with_circumflex</string>
      <string>y_with_ring</string>
      <string>y_with_dotabove</string>
      <string>y_with_macron</string>
      <string>y_with_tildeabove</string>
      <string>y_with_hook</string>
      <string>y_with_diaeresis</string>
      <string>y_with_dotbelow</string>
      <string>z_with_acute</string>
      <string>z_with_circumflex</string>
      <string>z_with_caron</string>
      <string>z_with_dotabove</string>
      <string>z_with_stroke</string>
      <string>z_with_dotbelow</string>
      <string>z_with_macronbelow</string>
      <string>A_with_circumflex_and_acute</string>
      <string>A_with_circumflex_and_grave</string>
      <string>A_with_circumflex_and_tildeabove</string>
      <string>A_with_circumflex_and_hook</string>
      <string>A_with_circumflex_and_dotbelow</string>
      <string>A_with_breve_and_acute</string>
      <string>A_with_breve_and_grave</string>
      <string>A_with_breve_and_tildeabove</string>
      <string>A_with_breve_and_hook</string>
      <string>A_with_breve_and_dotbelow</string>
      <string>A_with_ring_and_acute</string>
      <string>A_with_dotabove_and_macron</string>
      <string>A_with_diaeresis_and_macron</string>
      <string>C_with_cedilla_and_acute</string>
      <string>E_with_circumflex_and_acute</string>
      <string>E_with_circumflex_and_grave</string>
      <string>E_with_circumflex_and_tildeabove</string>
      <string>E_with_circumflex_and_hook</string>
      <string>E_with_circumflex_and_dotbelow</string>
      <string>E_with_macron_and_acute</string>
      <string>E_with_macron_and_grave</string>
      <string>E_with_cedilla_and_breve</string>
      <string>I_with_diaeresis_and_acute</string>
      <string>L_with_dotbelow_and_macron</string>
      <string>O_with_circumflex_and_acute</string>
      <string>O_with_circumflex_and_grave</string>
      <string>O_with_circumflex_and_tildeabove</string>
      <string>O_with_circumflex_and_hook</string>
      <string>O_with_circumflex_and_dotbelow</string>
      <string>O_with_dotabove_and_macron</string>
      <string>O_with_macron_and_acute</string>
      <string>O_with_macron_and_grave</string>
      <string>O_with_tildeabove_and_acute</string>
      <string>O_with_tildeabove_and_macron</string>
      <string>O_with_tildeabove_and_diaeresis</string>
      <string>O_with_diaeresis_and_macron</string>
      <string>O_with_ogonek_and_macron</string>
      <string>O_with_stroke_and_acute</string>
      <string>O_with_horn_and_acute</string>
      <string>O_with_horn_and_grave</string>
      <string>O_with_horn_and_tildeabove</string>
      <string>O_with_horn_and_hook</string>
      <string>O_with_horn_and_dotbelow</string>
      <string>R_with_dotbelow_and_macron</string>
      <string>S_with_acute_and_dotabove</string>
      <string>S_with_caron_and_dotabove</string>
      <string>S_with_dotbelow_and_dotabove</string>
      <string>U_with_macron_and_diaeresis</string>
      <string>U_with_tildeabove_and_acute</string>
      <string>U_with_diaeresis_and_acute</string>
      <string>U_with_diaeresis_and_grave</string>
      <string>U_with_diaeresis_and_caron</string>
      <string>U_with_diaeresis_and_macron</string>
      <string>U_with_horn_and_acute</string>
      <string>U_with_horn_and_grave</string>
      <string>U_with_horn_and_tildeabove</string>
      <string>U_with_horn_and_hook</string>
      <string>U_with_horn_and_dotbelow</string>
      <string>a_with_circumflex_and_acute</string>
      <string>a_with_circumflex_and_grave</string>
      <string>a_with_circumflex_and_tildeabove</string>
      <string>a_with_circumflex_and_hook</string>
      <string>a_with_circumflex_and_dotbelow</string>
      <string>a_with_breve_and_acute</string>
      <string>a_with_breve_and_grave</string>
      <string>a_with_breve_and_tildeabove</string>
      <string>a_with_breve_and_hook</string>
      <string>a_with_breve_and_dotbelow</string>
      <string>a_with_ring_and_acute</string>
      <string>a_with_dotabove_and_macron</string>
      <string>a_with_diaeresis_and_macron</string>
      <string>c_with_cedilla_and_acute</string>
      <string>e_with_circumflex_and_acute</string>
      <string>e_with_circumflex_and_grave</string>
      <string>e_with_circumflex_and_tildeabove</string>
      <string>e_with_circumflex_and_hook</string>
      <string>e_with_circumflex_and_dotbelow</string>
      <string>e_with_macron_and_acute</string>
      <string>e_with_macron_and_grave</string>
      <string>e_with_cedilla_and_breve</string>
      <string>i_with_diaeresis_and_acute</string>
      <string>l_with_dotbelow_and_macron</string>
      <string>o_with_circumflex_and_acute</string>
      <string>o_with_circumflex_and_grave</string>
      <string>o_with_circumflex_and_tildeabove</string>
      <string>o_with_circumflex_and_hook</string>
      <string>o_with_circumflex_and_dotbelow</string>
      <string>o_with_dotabove_and_macron</string>
      <string>o_with_macron_and_acute</string>
      <string>o_with_macron_and_grave</string>
      <string>o_with_tildeabove_and_acute</string>
      <string>o_with_tildeabove_and_macron</string>
      <string>o_with_tildeabove_and_diaeresis</string>
      <string>o_with_diaeresis_and_macron</string>
      <string>o_with_ogonek_and_macron</string>
      <string>o_with_stroke_and_acute</string>
      <string>o_with_horn_and_acute</string>
      <string>o_with_horn_and_grave</string>
      <string>o_with_horn_and_tildeabove</string>
      <string>o_with_horn_and_hook</string>
      <string>o_with_horn_and_dotbelow</string>
      <string>r_with_dotbelow_and_macron</string>
      <string>s_with_acute_and_dotabove</string>
      <string>s_with_caron_and_dotabove</string>
      <string>s_with_dotbelow_and_dotabove</string>
      <string>u_with_macron_and_diaeresis</string>
      <string>u_with_tildeabove_and_acute</string>
      <string>u_with_diaeresis_and_acute</string>
      <string>u_with_diaeresis_and_grave</string>
      <string>u_with_diaeresis_and_caron</string>
      <string>u_with_diaeresis_and_macron</string>
      <string>u_with_horn_and_acute</string>
      <string>u_with_horn_and_grave</string>
      <string>u_with_horn_and_tildeabove</string>
      <string>u_with_horn_and_hook</string>
      <string>u_with_horn_and_dotbelow</string>
      <string>J_with_acute</string>
      <string>j_with_acute</string>
      <string>logo</string>
    </array>
  </dict>
</plist>
