<?xml version='1.0' encoding='UTF-8'?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <dict>
    <key>public.glyphOrder</key>
    <array>
      <string>.notdef</string>
      <string>null</string>
      <string>return</string>
      <string>space</string>
      <string>exclamation</string>
      <string>quotedbl</string>
      <string>numbersign</string>
      <string>dollar</string>
      <string>percent</string>
      <string>ampersand</string>
      <string>quotesingle</string>
      <string>parenleft</string>
      <string>parenright</string>
      <string>asterisk</string>
      <string>plus</string>
      <string>comma</string>
      <string>hyphen</string>
      <string>period</string>
      <string>slash</string>
      <string>colon</string>
      <string>semicolon</string>
      <string>less</string>
      <string>equal</string>
      <string>greater</string>
      <string>question</string>
      <string>at</string>
      <string>A</string>
      <string>B</string>
      <string>C</string>
      <string>D</string>
      <string>E</string>
      <string>F</string>
      <string>G</string>
      <string>H</string>
      <string>I</string>
      <string>J</string>
      <string>K</string>
      <string>L</string>
      <string>M</string>
      <string>N</string>
      <string>O</string>
      <string>P</string>
      <string>Q</string>
      <string>R</string>
      <string>S</string>
      <string>T</string>
      <string>U</string>
      <string>V</string>
      <string>W</string>
      <string>X</string>
      <string>Y</string>
      <string>Z</string>
      <string>backslash</string>
      <string>asciicircum</string>
      <string>underscore</string>
      <string>grave</string>
      <string>a</string>
      <string>b</string>
      <string>c</string>
      <string>d</string>
      <string>e</string>
      <string>f</string>
      <string>g</string>
      <string>h</string>
      <string>i</string>
      <string>j</string>
      <string>k</string>
      <string>l</string>
      <string>m</string>
      <string>n</string>
      <string>o</string>
      <string>p</string>
      <string>q</string>
      <string>r</string>
      <string>s</string>
      <string>t</string>
      <string>u</string>
      <string>v</string>
      <string>w</string>
      <string>x</string>
      <string>y</string>
      <string>z</string>
      <string>braceleft</string>
      <string>bar</string>
      <string>braceright</string>
      <string>tilde</string>
      <string>zero</string>
      <string>one</string>
      <string>two</string>
      <string>three</string>
      <string>four</string>
      <string>five</string>
      <string>six</string>
      <string>seven</string>
      <string>eight</string>
      <string>nine</string>
      <string>sup_zero</string>
      <string>sup_one</string>
      <string>sup_two</string>
      <string>sup_three</string>
      <string>sup_four</string>
      <string>sup_five</string>
      <string>sup_six</string>
      <string>sup_seven</string>
      <string>sup_eight</string>
      <string>sup_nine</string>
      <string>sub_zero</string>
      <string>sub_one</string>
      <string>sub_two</string>
      <string>sub_three</string>
      <string>sub_four</string>
      <string>sub_five</string>
      <string>sub_six</string>
      <string>sub_seven</string>
      <string>sub_eight</string>
      <string>sub_nine</string>
      <string>one_over_four</string>
      <string>one_over_two</string>
      <string>three_over_four</string>
      <string>one_over_three</string>
      <string>two_over_three</string>
      <string>one_over_five</string>
      <string>two_over_five</string>
      <string>three_over_five</string>
      <string>four_over_five</string>
      <string>one_over_six</string>
      <string>five_over_six</string>
      <string>one_over_eight</string>
      <string>three_over_eight</string>
      <string>five_over_eight</string>
      <string>seven_over_eight</string>
      <string>permille</string>
      <string>fraction</string>
      <string>cent</string>
      <string>pound</string>
      <string>currency</string>
      <string>yen</string>
      <string>euro</string>
      <string>won</string>
      <string>AE</string>
      <string>OE</string>
      <string>ETH</string>
      <string>THORN</string>
      <string>eszett</string>
      <string>ae</string>
      <string>oe</string>
      <string>eth</string>
      <string>thorn</string>
      <string>lower_i_dotless</string>
      <string>mu</string>
      <string>PI</string>
      <string>pi</string>
      <string>SIGMA</string>
      <string>sigma</string>
      <string>ordinalfeminine</string>
      <string>ordinalmasculine</string>
      <string>bracketleft</string>
      <string>bracketright</string>
      <string>invertedexclam</string>
      <string>brokenbar</string>
      <string>copyright</string>
      <string>registered</string>
      <string>logicalnot</string>
      <string>degree</string>
      <string>plusminus</string>
      <string>acute</string>
      <string>interpunct</string>
      <string>invertedquestion</string>
      <string>multiply</string>
      <string>divide</string>
      <string>turnedcomma</string>
      <string>apostrophe</string>
      <string>quoteleft</string>
      <string>quoteright</string>
      <string>quotelow9</string>
      <string>quotedblleft</string>
      <string>quotedblright</string>
      <string>quotedbllow9</string>
      <string>dagger</string>
      <string>diesis</string>
      <string>angleleft</string>
      <string>angleright</string>
      <string>angledblleft</string>
      <string>angledblright</string>
      <string>bullet</string>
      <string>ellipsis</string>
      <string>raised_colon</string>
      <string>trademark</string>
      <string>arrowleft</string>
      <string>arrowup</string>
      <string>arrowright</string>
      <string>arrowdown</string>
      <string>minus</string>
      <string>endash</string>
      <string>emdash</string>
      <string>pilcrow</string>
      <string>nary_sum</string>
      <string>nary_product</string>
      <string>almost_equal</string>
      <string>not_equal</string>
      <string>less_equal</string>
      <string>greater_equal</string>
      <string>section</string>
      <string>increment</string>
      <string>divslash</string>
      <string>infinity</string>
      <string>lozenge</string>
      <string>macron</string>
      <string>circumflex</string>
      <string>caron</string>
      <string>cedilla</string>
      <string>breve</string>
      <string>smalltilde</string>
      <string>dotabove</string>
      <string>diaeresis</string>
      <string>ring</string>
      <string>acutedbl</string>
      <string>prime</string>
      <string>primedbl</string>
      <string>A_with_grave</string>
      <string>A_with_acute</string>
      <string>A_with_circumflex</string>
      <string>A_with_smalltilde</string>
      <string>A_with_diaeresis</string>
      <string>A_with_ring</string>
      <string>A_with_macron</string>
      <string>E_with_grave</string>
      <string>E_with_acute</string>
      <string>E_with_circumflex</string>
      <string>E_with_diaeresis</string>
      <string>E_with_macron</string>
      <string>E_with_dotabove</string>
      <string>I_with_grave</string>
      <string>I_with_acute</string>
      <string>I_with_circumflex</string>
      <string>I_with_diaeresis</string>
      <string>I_with_macron</string>
      <string>O_with_grave</string>
      <string>O_with_acute</string>
      <string>O_with_circumflex</string>
      <string>O_with_smalltilde</string>
      <string>O_with_diaeresis</string>
      <string>O_with_stroke</string>
      <string>O_with_macron</string>
      <string>U_with_grave</string>
      <string>U_with_acute</string>
      <string>U_with_circumflex</string>
      <string>U_with_diaeresis</string>
      <string>U_with_macron</string>
      <string>Y_with_acute</string>
      <string>Y_with_diaeresis</string>
      <string>a_with_grave</string>
      <string>a_with_acute</string>
      <string>a_with_circumflex</string>
      <string>a_with_smalltilde</string>
      <string>a_with_diaeresis</string>
      <string>a_with_ring</string>
      <string>a_with_macron</string>
      <string>e_with_grave</string>
      <string>e_with_acute</string>
      <string>e_with_circumflex</string>
      <string>e_with_diaeresis</string>
      <string>e_with_macron</string>
      <string>e_with_dotabove</string>
      <string>i_with_grave</string>
      <string>i_with_acute</string>
      <string>i_with_circumflex</string>
      <string>i_with_diaeresis</string>
      <string>i_with_macron</string>
      <string>o_with_grave</string>
      <string>o_with_acute</string>
      <string>o_with_circumflex</string>
      <string>o_with_smalltilde</string>
      <string>o_with_diaeresis</string>
      <string>o_with_stroke</string>
      <string>o_with_macron</string>
      <string>u_with_grave</string>
      <string>u_with_acute</string>
      <string>u_with_circumflex</string>
      <string>u_with_diaeresis</string>
      <string>u_with_macron</string>
      <string>y_with_acute</string>
      <string>y_with_diaeresis</string>
      <string>C_with_cedilla</string>
      <string>C_with_acute</string>
      <string>C_with_caron</string>
      <string>c_with_cedilla</string>
      <string>c_with_acute</string>
      <string>c_with_caron</string>
      <string>N_with_smalltilde</string>
      <string>N_with_acute</string>
      <string>n_with_smalltilde</string>
      <string>n_with_acute</string>
      <string>S_with_acute</string>
      <string>S_with_caron</string>
      <string>s_with_acute</string>
      <string>s_with_caron</string>
      <string>Z_with_dotabove</string>
      <string>Z_with_acute</string>
      <string>Z_with_caron</string>
      <string>z_with_dotabove</string>
      <string>z_with_acute</string>
      <string>z_with_caron</string>
      <string>logo</string>
    </array>
  </dict>
</plist>
